{% extends 'base.html' %}
{% load static %}

{% block content %}
  <a href="{% url 'index' %}" class="main__bread">Альбомы/</a>
  <h1 class="main__title">{{ album.title }}</h1>
  <a href="{% url 'album_edit' album.id %}" class="main__edit">(редактировать)</a>
  <a href="{% url 'album_delete' album.id %}" class="main__edit">(удалить)</a>
  <div class="main__photos photos">
    {% for picture in album.picture.all %}
      <a class="photos__photo" href="{% url 'picture' picture.id %}">
        <img class="photos__img" src="{{ picture.photo_file.url }}" alt="Picture of album">
      </a>
    {% endfor %}
    <form class="photos__photo new" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.photo_file }}
      <!-- <button class="form__submit" type="submit">Загрузить новое</button> -->
    </form>
  </div>
  <script src="{% static 'js/script.js' %}"></script>
{% endblock %}