{% extends 'base.html' %}

{% block content %}
  <h1 class="main__title">Список альбомов</h1>
  <div class="main__albums">
    {% for album in albums %}
      <a class="main__album album" href="{% url 'album' album.id %}">
        <p class="album__name">{{ album.title }}</p>
        <img class="album__img" src="{{ album.cover.url }}" alt="Album cover">
      </a>
    {% endfor %}
    <a class="main__create" href="{% url 'create' albums.last.id %}">
      Создать новый альбом
    </a>
  </div>
{% endblock %}