{% extends 'base.html' %}

{% block content %}
  <h1 class="main__title">Список альбомов</h1>
  <p class="main__count">(Всего: {{ albums.count }})</p>
  <form class="main__order order" action="{% url 'index' %}" method="get" id="sortAlbums">
    {% if title %}
      <button class="order__field" type="submit" name="orderby" value="title">По алфавиту</button>
    {% else %}
      <button class="order__field" type="submit" name="orderby" value="-title">По алфавиту(-)</button>
    {% endif %}
    {% if created_at %}
      <button class="order__field" type="submit" name="orderby" value="created_at">По дате</button>
    {% else %}
      <button class="order__field" type="submit" name="orderby" value="-created_at">По дате(-)</button>
    {% endif %}
  </form>
  <div class="main__grid grid">
    {% for album in albums %}
      <a class="grid__element" href="{% url 'album' album.id %}">
        <p class="grid__name">{{ album.title }}</p>
        <img class="grid__img" src="{{ album.cover.url }}" alt="Обложка альбома">
      </a>
    {% endfor %}
    <a class="grid__element grid__create" href="{% url 'create' %}">
      Создать новый альбом
    </a>
  </div>
{% endblock %}