{% extends 'base.html' %}

{% block content %}
  <h1 class="main__title">Список альбомов</h1>
  <div class="main__grid grid">
    {% for album in albums %}
      <a class="grid__element" href="{% url 'album' album.id %}">
        <p class="grid__name">{{ album.title }}</p>
        <img class="grid__img" src="{{ album.cover.url }}" alt="Обложка альбома">
      </a>
    {% endfor %}
    <a class="grid__element grid__create" href="{% url 'create' %}">
      Создать новый альбом
    </a>
  </div>
{% endblock %}