{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Главная</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body class="body" id="body">
  <header class="header">
    <nav class="header__nav nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="{% url 'index' %}" class="nav__link">
            Альбомы
          </a>
        </li>
        <li class="nav__item">
          <a href="{% url 'categories' %}" class="nav__link">
            Категории
          </a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">
            Пользователи
          </a>
        </li>
      </ul>
    </nav>
  </header>
  <main class="main">
    {% block content %}
    {% endblock content %}
  </main>
  <footer class="footer">
    <p class="footer__fio">
      Хасанов Марат Сергеевич 211-322
    </p>
    <a href="#body" class="footer__link" aria-label="Вернуться к началу">
      <svg width="40" height="40" xmlns="http://www.w3.org/2000/svg">
        <circle cx="20" cy="20" r="20" fill="orange"/>
        <g stroke="black" stroke-width="2" stroke-linecap="round">
          <line x1="20" x2="20" y1="10" y2="30" />
          <line x1="15" x2="20" y1="15" y2="10" />
          <line x1="25" x2="20" y1="15" y2="10" />
        </g>
      </svg>
    </a>
  </footer>
</body>
</html>