@use '../abstract/variables';

.nav {
  &__list {
    display: flex;
    flex-direction: row;
    list-style: none;
  }
  &__item {
    padding-right: 10px
  };
}
.header {
  margin: 10px auto;
  max-width: 900px;
}