@use '../abstract/variables' as vars;


:root {
  font-size: 16px;
  font-family: vars.$mainFont;
}
a {
  color: vars.$mainTextColor;
  &:active {
    font-weight: bold;
  }
}
.nav {
  &__list {
    display: flex;
    flex-direction: row;
    list-style: none;
  }
  &__item {
    padding-right: 15px
  };
}
.search {
  display: flex;
  align-items: center;
  position: relative;
  &__label {
    padding-right: 10px;
  }
  &__input {
    border: none;
    width: 500px;
    height: 2.25em;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 30px;
    ::placeholder {
      vertical-align: middle;
    }
  }
  &__start {
    position: absolute;
    right: 5px;
  }
}
.header {
  background-color: vars.$mainColor;
}
.header__wrapper {
  margin: 10px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}